body{
    background: #F3F3F3;
}
.muscle-data{
    background: #F8F8F8;
    border-radius: 0.5rem;
}

a:link{
    text-decoration: none;
    color:black
}

.page-link{
    background-color: #dc3545;
    border: none;
    color: white;
}

.active>.page-link, .page-link.active{
    background: black;
}

.page-link:hover{
    color: black;
}